h1, h2, h3, h4, h5 {
  font-size: 1.1em;
  font-weight: 500;
}
nav .brand-logo  {
  font-size: 1.3em;
}
nav .button-collapse i {
  font-size: 1.7em;
}
.mc {
  font-size: 0.85em;
}

.spinner {
  max-width: 254px;
}

.card-preview {
  max-width: 223px;
  width: 100%;
}

@media (min-width: 1200px) {
  .decklist {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }

}
