<h1 class="ui header">Editor</h1>
<div class="ui content">
    <form class="ui form">
        <div class="field">

            <label>Deck name</label>
            <input type="text" ng-model="ctrl.deck.name"/>
        </div>

        <div class="field">
            <label>Cards</label>
            <div class="ui pointing secondary menu">
                <div class="item active">main</div>
                <div class="item">sideboard</div>
            </div>
            <div class="ui tab active">
                <textarea rows="20"
                          ng-model="ctrl.deck.cards"
                          ng-model-options='{ debounce: 5000 }'
                          ng-change="ctrl.updatePreview()"></textarea>
            </div>
        </div>
    </form>
</div>
