<ng-container [ngSwitch]="selectedView">
  <ng-container *ngSwitchDefault>
    <div class="columns deck-tile-view">
      <div *ngFor="let meta of (meta$ | async)" class="column col-6 col-sm-12">
        <ygm-deck-tile [meta]="meta"></ygm-deck-tile>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'cardView'">
    <div class="columns deck-card-view">
      <div *ngFor="let meta of (meta$ | async)" class="column col-4 col-sm-12">
        <ygm-deck-card [meta]="meta"></ygm-deck-card>
      </div>
    </div>
  </ng-container>
</ng-container>