<br/>
<div class="ui footer">
    <div class="ui center aligned container">
        <div class="ui centered">
            <span class="dot w"></span>
            <span class="dot u"></span>
            <span class="dot b"></span>
            <span class="dot r"></span>
            <span class="dot g"></span>
            <br/>
            Yawgmoth
        </div>
        <div class="ui section divider"></div>
        <p>
            Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC. © 1995-2019 Wizards.
            Yawgmoth is not affiliated with Wizards of the Coast LLC.
        </p>
        <p>
            © <a href="https://phury.github.io">Phury</a>.
        </p>
    </div>
</div>
<br/>