<h1 class="ui header">{{ctrl.deck.name}}</h1>
<div class="visual-deck-list-2" ng-if="ctrl.deck">
    <div class="ui pointing secondary menu">
        <div class="item active">main</div>
        <div class="item">sideboard</div>
    </div>
    <div class="ui tab active">
        <div class="ui accordion" ng-repeat="card in ctrl.deck.cards track by $index">
            <div class="title">
                <i class="dropdown icon"></i>
                {{card.quantity}}&nbsp;{{card.name}}
                <span class="mana-cost pull-right">
                    <span class="ms ms-cost" ng-class="class"
                          ng-repeat="class in card.manaCostClasses track by $index">
                    </span>
                </span>
            </div>
            <div class="content">
                <div class="ui grid">
                    <div class="six wide column">
                        <img class="ui image" ng-src="{{card.image}}" />
                    </div>
                    <div class="ten wide column ">
                        <div class="ui container segment card-text">
                            <h5>
                                {{card.name}}
                                <span class="mana-cost">
                                    <span class="ms ms-cost" ng-class="class"
                                          ng-repeat="class in card.manaCostClasses track by $index">
                                    </span>
                                </span>
                            </h5>
                            <p>{{card.type}}</p>
                            <div class="card-text-box" ng-if="card.text">
                                <p class="card-text-oracle">{{card.text}}</p>
                                <p class="card-text-flavor" ng-if="card.flavor">{{card.flavor}}</p>
                            </div>
                            <div class="card-text-stats" ng-if="card.power">
                                {{card.power}}/{{card.toughness}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
