<div class="collection-search-view" *ngIf="searchable">
	<form>
		<div class="has-btn-right">
			<input type="text" class="form-input" name="searchFilter"
						 [(ngModel)]="searchFilter" 
						 (keyup.enter)="searchFilter$.next($event.target.value)" />
			<button class="btn btn-primary" 
							(click)="searchFilter$.next(searchFilter)">search</button>
		</div>
	</form>
</div>
<div class="headers collection-view">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th *ngFor="let header of headers">{{ header }}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of (filterdCards$ | async)" >
				<td *ngIf="headers.indexOf('preview') > -1"><ygm-card-icon-preview [cardName]="item.cardName"></ygm-card-icon-preview></td>
				<td *ngIf="headers.indexOf('cardName') > -1">{{item.cardName}}</td>
				<td *ngIf="headers.indexOf('set') > -1"><ygm-keyrune [symbol]="item.set" *ngIf="item.set"></ygm-keyrune></td>
				<td *ngIf="headers.indexOf('setNumber') > -1">{{item.setNumber}}</td>
				<td *ngIf="headers.indexOf('price') > -1">{{item.price}}</td>
				<td *ngIf="headers.indexOf('quantity') > -1">{{item.quantity}}</td>
			</tr>
		</tbody>
	</table>
</div>