<div class="collection-search-view" *ngIf="searchable">
	<form>
		<div class="has-btn-right">
			<input type="text" class="form-input" name="searchFilter"
						 [(ngModel)]="searchFilter" 
						 (keyup.enter)="searchFilter$.next($event.target.value)" />
			<button class="btn btn-primary" 
							(click)="searchFilter$.next(searchFilter)">search</button>
		</div>
	</form>
</div>
<div class="columns collection-view">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th></th>
				<th>cardname</th>
				<th>set</th>
				<th>set num</th>
				<th>price</th>
				<th>quantity</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of (filterdCards$ | async)" >
				<td><ygm-card-icon-preview [cardName]="item.cardName"></ygm-card-icon-preview></td>
				<td>{{item.cardName}}</td>
				<td><ygm-keyrune [symbol]="item.set" *ngIf="item.set"></ygm-keyrune></td>
				<td>{{item.setNumber}}</td>
				<td>{{item.price}}</td>
				<td>{{item.quantity}}</td>
			</tr>
		</tbody>
	</table>
</div>