<div *ngIf="(meta$ | async) as meta">
  <h3>{{meta.name}}</h3>

  <details class="accordion">
    <summary class="accordion-header" [ngClass]="filters.showContent ? 'active' : ''">
      <button (click)="toggleContent(filters)" >filters</button>
    </summary>
    <div class="accordion-body">
      <p>filters here</p>
    </div>
  </details>

  <div class="container">

    <div class="columns col-gapless">
      <div class="column col-3 col-sm-12">
        <img class="mtg-card" src="{{(selectedCard$ | async)?.imgUrl}}" (click)="selectedCard$.next()" />
        <!-- <ygm-spinner-card [card]="selectedCard$"></ygm-spinner-card> -->
      </div>
      <div class="column col-9 col-sm-12 lg-list">
        <details class="accordion" *ngFor="let card of (deck$ | async)?.cards">
          <summary class="accordion-header" (click)="toggleContent(card)" [ngClass]="card.showContent ? 'active' : ''">
            {{card.amount}}
            <span (click)="selectedCard$.next(card)">{{card.name}}&nbsp;</span>
            <ygm-mana [cost]="card.manaCost"></ygm-mana>
          </summary>
          <div class="accordion-body">
            <div class="container">
              <div class="columns col-gapless">
                <div class="column col-3">
                  <img class="mtg-card" src="{{card.imgUrl}}" />
                </div>
                <div class="column col-9">
                  <p>{{card.name}}&nbsp;<ygm-mana [cost]="card.manaCost"></ygm-mana></p>
                  <p>{{card.typeLine}}</p>
                  <p>{{card.oracleText}}</p>
                </div>
              </div>
            </div>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>
