<div *ngIf="(meta$ | async) as meta">

  <div class="float-right">
    <div class="dropdown dropdown-right">
      <a class="btn dropdown-toggle" tabindex="0">actions <i class="icon icon-caret"></i></a>
      <ul class="menu text-left">
        <li class="menu-item">
          <a [routerLink]="['/compare', meta.id]">compare</a>
        </li>
      </ul>
    </div>
  </div>
  <h3>{{meta.name}}</h3>
  <div class="clearfix"></div>

  <div class="container">
    <div class="columns">
      <div class="column col-8 col-sm-12 lg-list">
        <div *ngFor="let entry of (mainboardGrouped$ | async) | keyvalue: groupingOrder">
          <h5 class="card-type-title">
            {{entry.key}}
            <span>({{entry.value.length}})</span>
          </h5>
          <details *ngFor="let card of entry.value" class="accordion">
            <ng-container *ngTemplateOutlet="cardDetail; context: { card: card }"></ng-container>
          </details>
        </div>
      </div>
      <div class="column col-4 col-sm-12">
        <h5 class="card-type-title">
          sideboard
          <span>({{(sideboard$ | async)?.length}})</span>
        </h5>
        <details *ngFor="let card of (sideboard$ | async)" class="accordion">
          <ng-container *ngTemplateOutlet="cardDetail; context: { card: card }"></ng-container>
        </details>
      </div>
    </div>
  </div>
</div>
<ng-template #cardDetail let-card="card">
  <summary class="accordion-header">
    <i class="icon icon-photo"></i>
    {{card.amount}}
    <ng-container *ngIf="card.faces; else normal">
      <span>{{card.faces[0].name}}&nbsp;</span>
      <ygm-mana [cost]="card.faces[0].manaCost"></ygm-mana>
    </ng-container>
    <ng-template #normal>
      <span>{{card.name}}&nbsp;</span>
      <ygm-mana [cost]="card.manaCost"></ygm-mana>
    </ng-template>
  </summary>
  <div class="accordion-body">
    <ygm-card-tile [card]="card"></ygm-card-tile>
  </div>
</ng-template>
