<nav class="navbar fixed shadow">
	<section class="navbar-section logo-section">
		<span class="logo">
			<span class="dot w"></span>
			<span class="dot u"></span>
			<span class="dot b"></span>
			<span class="dot r"></span>
			<span class="dot g"></span>
			</span>
		<h1>Yawgmoth</h1>
	</section>
	<section class="navbar-section link-section">
		<a class="btn btn-link" [routerLink]="['/decks']">My decks</a>
		<a class="btn btn-link" [routerLink]="['/collection']">Collection</a>
		<a class="btn btn-link" [routerLink]="['/wishlist']">Wishlist</a>
		<!--<a class="btn btn-link" [routerLink]="['/meta']">Meta</a>-->
	</section>
</nav>