<div class="container grid-lg">
    <div class="columns">
        <div class="column col-4">
            <form>
                <div class="form-group">
                    <label class="form-label" for="input-1">deck title</label>
                    <input class="form-input" type="text" [(ngModel)]="deck.name" name="name" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="input-1">deck format</label>
                    <input class="form-input" type="text" [(ngModel)]="deck.format" name="format" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="input-1">preview card</label>
                    <input class="form-input" type="text" [(ngModel)]="deck.preview" name="preview" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="input-1">cards</label>
                    <textarea  class="form-input" [(ngModel)]="deck.cards" name="cards" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn" (click)="preview()">preview</button>
                    <!--
                    &nbsp;
                    <button class="btn btn-primary">save</button>
                    -->
                </div>
            </form>
        </div>
        <div class="column col-8">
            <div *ngIf="preview$ | async as deck; else empty">
                <div *ngFor="let card of deck.cards">
                    <ygm-card-pill [card]="card"></ygm-card-pill>
                </div>
            </div>
            <ng-template #empty>
                <div class="empty">
                    <div class="empty-icon">
                        <i class="icon icon-copy"></i>
                    </div>
                    <p class="empty-title h5">No deck selected</p>
                    <p class="empty-subtitle">Select a deck to compare with your collection.</p>
                </div>
            </ng-template>
        </div>
    </div>
    
</div>