<div class="ui container segment">
    <table class="ui single line table">
        <thead>
            <tr>
                <th>Deck</th>
                <th>Format</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="deck in ctrl.decks track by $index">
                <td><a ui-sref="editor({deckIndex: $index})">{{deck.name}}</a></td>
                <td>{{deck.format}}</td>
                <td>
                    <button class="ui button primary">edit</button>
                    <button class="ui button primary">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
