body {
  font-family: 'PT Mono', monospace;
}
h1 {
  font-family: 'PT Sans', sans-serif;

}

i.ms {
  font-size: 0.7em;
}
/** override framework */
.card {
  border: 0;
  box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
}
  .card .card-image img, .card .card-image:first-child img  {
    border-radius: 7px;
  }


/** ui extensions **/
div.spacer {
  height: .05rem;
  margin: .4rem 0;
}

/** custom */
header, footer {
  text-align: center;
}
.navbar {
  padding: 1rem;
}
.navbar.fixed {
  position: fixed;
  top: 0;
  z-index: 5;
  background: #fff;
  width: 100%;
}
.navbar h1 {
  font-size: 1.5rem;
}

  .layout > .container {
    margin-top: 130px;
  }

  .shadow {
    box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
  }

.deck-card-view .column {
  padding: 0.4em;
}
  .deck-card-view .card {
    /*height: 100%;*/
    position: relative;
    box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
    border-radius: 5px;
  }

    .deck-card-view .card .card-header {
      position: absolute;
      bottom: 1em;
      right: 0.7em;
      /*
      background-color: #4CAF50;
      */
    }
    .deck-card-view .card .card-action {
      text-align: right;
    }
    .deck-card-view .card .card-action .chip {
      background-color: rgba(238, 240, 243, 0.7);
      font-size: 0.7em;
    }


    .deck-tile-view .column {
      padding: 0.4em;
    }
    .deck-tile-view .tile-content {
      margin-top: 1.5em;
    }
    .deck-tile-view figure {
      margin: 0.3em;
    }
    .deck-tile-view .deck-icon {    
      height: 6rem;
    }
      .deck-tile-view .deck-icon img {
        height: 100%;
      }

  .card-tile-view .tile-content {
    margin-top: 1.5em;
  }
    .card-tile-view .tile-content p {
      margin: 0 0 0.2rem;
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }
      .card-tile-view .tile-content .tile-title {
        font-weight: bold;
      }
      .card-tile-view .card-oracle {
        font-size: 0.8em;
      }

.card-type-title {
  border-bottom: 1px solid #3b4351;
}

  section.preview {
    width: 100%;
  }
  img.mtg-card {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 200px;
  }

/** custom ui components **/

.logo {
  padding-bottom: 0.5rem;
}
  .dot {
      height: 12px;
      width: 12px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      margin-right: 2px;
  }

  .dot.w { background-color: #F8BA00; }
  .dot.u { background-color: #489FF8; }
  .dot.b { background-color: #7D8080; }
  .dot.r { background-color: #EA4025; }
  .dot.g { background-color: #61D836; }



/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .navbar {
    padding: 0.3rem;
  }
  .navbar .logo-section {
    justify-content: center;
  }
    .navbar .logo-section h1 {
      visibility:hidden;
    }
    .navbar .logo-section h1:first-letter {
        visibility:visible;
    }?
    .navbar .navbar-section:not(:first-child):last-child {
      justify-content: left !important;
    }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .lg-list {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}
