<br/>
<div class="ui secondary  stackable container menu">
    <div class="item">
        <span class="dot w"></span>
        <span class="dot u"></span>
        <span class="dot b"></span>
        <span class="dot r"></span>
        <span class="dot g"></span>
        Yawgmoth
    </div>
    <a class="item" ui-sref="decks" ui-sref-active="active">Decks</a>
    <!--<a class="item" ui-sref="editor" ui-sref-active="active">Editor</a>-->
    <a class="item" ui-sref="viewer" ui-sref-active="active">Viewer</a>
</div>
<br/>