<div class="container grid-lg">
	<h2>Decks</h2>
	<div class="container">
		<div class="columns deck-tile-view">
			<div *ngFor="let meta of (meta$ | async)" class="column col-6 col-sm-12">
				<ygm-deck-tile [meta]="meta"></ygm-deck-tile>
			</div>
		</div>
	</div>
	<br/>

	
	<h2>Stash</h2>
	<ng-container *ngIf="(stash$ | async).length > 0; else empty">
		<div class="container">
			<div class="columns deck-tile-view">
				<div *ngFor="let meta of (stash$ | async)" class="column col-6 col-sm-12">
					<ygm-deck-tile [meta]="meta"></ygm-deck-tile>
				</div>
			</div>
		</div>
	</ng-container>
	<ng-template #empty>
		<div class="empty">
			<div class="empty-icon">
				<i class="icon icon-copy"></i>
			</div>
			<p class="empty-title h5">Your stash is empty</p>
			<p class="empty-subtitle">You can stash a deck in the <a [routerLink]="['/import']">import</a> tool</p>
		</div>
	</ng-template>
	<br/>

	<h2>Cards</h2>
	<div class="container">
		<ygm-card-table [cards$]="wishCards$" [searchable]="false"></ygm-card-table>
	</div>
</div>

